*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-family:'lato';
    font-size: 16px;
}

.contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
}

header{
    background-image: url('../img/portada.png');
    height:600px;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: cover;
}
header .menu{
    margin:30px 0;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
header .menu a:hover{
    text-decoration: underline;
}
header .menu a{
    font-size:18px;
    font-family: 'lato';
    font-weight: 300;
    display: inline-block;
    padding:10px 0;
    margin:0 15px;
    color:#fff;
    text-decoration: none;
}
header .contenido-header{
    margin:120px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
header .contenido-header .titulo-header{
    font-size: 90px;
    text-align: center;
    color: #fff;
    text-align: center;
}

header .contenido-header .linea-header{
    width: 700px;
    margin: auto;
    height:2px;
    background: #15a4fa;
    margin-bottom:30px;
    text-align: center;
}

header .contenido-header .texto-header{
    color:#fff;
    font-weight: 300;
    margin-bottom:30px;
    font-size:20px;
    text-align: center;
}

header .contenido-header .action-header{
    display: inline-block;
    margin: auto;
    color: #fff;   
    text-decoration: none;
    border:1px solid #15a4fa;
    padding: 10px 20px;
    border-radius: 5px;
}

header .contenido-header .action-header:hover{
    background: #15a4fa;
    color: #fff;
}

main .quienes{
    background: #f0f3f5;
    padding:60px 0;
}

main .quienes .quienes-titulo{
    color:#000;
    font-size: 25px;
    text-align: center;
    margin-bottom:20px;

}

main .quienes .quienes-parrafo{
    text-align: center;
    color:#999999;
    font-weight: 600;
}

main .quehacemos{
    margin:60px 0;  
}
main .contenido-cajas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .quehacemos .contenido-cajas .tarjeta{
    width: 30%;
    text-align: center;
}

main .quehacemos .contenido-cajas .tarjeta .contenido-tarjeta .titulo-tarjeta{
    margin:10px 0;   
}

main .portafolio{
    background: #f0f3f5;
    padding: 60px 0;
}

main .portafolio .portafolio-textos{
    text-align: center;
    margin-bottom: 60px;
    color:#2d3950;
    font-size: 20px;
}

main .portafolio .portafolio-textos p{
    color: #909090;
    font-size: 15px;
    margin:20px 0 0 0;
}

main .portafolio .galeria{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main .portafolio .galeria .fotos{
    width: 30%;
    margin-bottom:20px;
}

main .portafolio .galeria .fotos img{
    width: 100%;
    height:210px;
    border-radius: 5px;
}
main .portafolio .galeria .fotos img:hover{
    opacity:.6;
    cursor: pointer;
}




.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

/* Main */

.sobre-nosotros {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.parrafo {
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
}

.acerca-de .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid rgba(24, 16, 16, .7);
    color: rgb(24, 16, 16);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px;
}

.galeria {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.imagenes {
    width: 20%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.encima {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.815);
}

.encima h2 {
    position: relative;
    top: 45%;
    text-align: center;
    color: #fff;
}

.encima div {
    position: relative;
    display: block;
    top: 46%;
    width: 40px;
    height: 5px;
    background: #fff;
    margin: auto;
}

.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #58ACFA;
}

.card {
    margin: 20px 0;
    width: 30%;
    height: 350px;
    text-align: center;
  color: #2c3e50;
    padding: 20px;
    box-shadow: 0px 0px 4px 0 rgba(52, 73, 94, 0.849);
    
    
}

.cards img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    margin-left: 23%;
    border-radius: 100%;
}

.fondo {
    height: 900px;
    position: relative;
    background-image: url(fondo.png);
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    padding-top: 130px;
}

.sesgoabajo-unico {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #2c3e50 transparent;
}

.titulo-patrocinadores,
.subtitulo-patrocinadores {
    color: #fff;
    text-align: center;
}

.titulo-patrocinadores {
    font-size: 56px;
    margin-top: 48px;
}

.subtitulo-patrocinadores {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 64px;
}

.clientes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    width: 100%;
    justify-content: space-between;
}

.cliente {
    width: 30%;
}

.cliente img {
    width: 100%;
    
}

.materiales{
   
    padding: 20px;
    object-fit: cover;
    margin-left:2%;
    

}

.barras{
    position: absolute;
    border: 1px solid #58ACFA;
    width: 30%;
    margin-top: 1%;
    color: #fff;
    background:#58ACFA;
    text-align: center;
  
}

footer .contacto{
    height:600px;
    background-image: url(../img/footer.png);
    background-position:center;
    padding:60px 0;
}

footer .footer-textos{
    text-align: center;
    color: #fff;
    font-size:25px;
}

footer .footer-textos p{
    font-size: 14px;
    margin:15px 0 30px 0;
    color: #999999;

}
form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    
}
footer .contacto  input[type="text"], footer .contacto  input[type="email"],
footer .contacto  textarea{
    width: 100%;
    margin: 5px 0;
    padding: 15px 20px;
    background: none;
    border-radius: 5px;
    color:rgb(204, 204, 204);
    border: 2px solid rgba(204, 204, 204, 0.383);
    font-family: 'lato';
    font-weight: 300;
}

footer .contacto  textarea{
    height:150px;
    max-height: 150px;
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
}
.derecha{
   display: flex;
   justify-content: flex-end;
}
footer .contacto  input[type="submit"]{
    display:block;
    width: 100px;
    margin:10px 0;
    padding: 10px 15px;
    background: none;
    border:1px solid #15a4fa;
    border-radius: 5px;
    color:#fff;
    cursor: pointer;
    float:right;

}
footer .contacto  input[type="submit"]:hover{
    background: #15a4fa;
    color: #fff;
}

.footer{
    height:200px;
    background: #000;
}

@media screen and (max-width:760px){
    header .menu{
        justify-content: center;
    }
    header .contenido-header .texto-header{
       font-size:18px;
    }
    header .contenido-header .texto-header .desaparecer{
        display: none;
    }
}

@media screen and (max-width:630px){
    header .contenido-header .titulo-header{
        font-size:80px;
    }
    header .contenido-header .linea-header{
        width: 400px;
    }
    main .portafolio .galeria .fotos{
        width:49%;
    }
}

@media screen and (max-width: 500px){
    header .contenido-header .titulo-header{
        font-size:40px;
    }
    main .quehacemos .contenido-cajas .tarjeta{
       width: 48%;
    }
    main .contenido-cajas{
        justify-content: center
    }
    main .quehacemos .contenido-cajas .tarjeta{
        margin:20px 0;
    }
}

@media screen and (max-width: 350px){
    main .quehacemos .contenido-cajas .tarjeta{
        width: 98%;
    }
    header .contenido-header .texto-header{
        font-size:15px;
    }
}



@media screen and (max-width:900px) {
    .card {
        width: 48%;
    }
}

@media screen and (max-width:610px) {
    header .textos {
        margin-top: 130px;
    }
    header .titulo {
        font-size: 75px;
    }
    .none {
        display: none
    }
    .imagenes {
        flex-grow: 1;
    }
    .card {
        width: 90%;
    }
    .fondo {
        height: auto;
    }
    .especial {
        display: none;
    }
    .cliente {
        width: 90%;
        height: 200px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:380px) {
    header .textos {
        margin-top: 100px;
    }
    header .titulo {
        font-size: 65px;
    }
    header .subtitulo {
        font-size: 25px;
        margin-bottom: 32px;
    }
    .sobre-nosotros {
        font-size: 46px;
    }
    .slogan {
        font-size: 20px;
    }
    .titulo-patrocinadores {
        font-size: 46px;
    }
    .subtitulo-patrocinadores {
        font-size: 20px;
    }
}